#navbar-side {
  /* grid-area: navbar; */
  width: 150px;
  border: 1px solid var(--text-color);
  background-color: white;
  position: fixed;
  left: 30px;
  top: 230px;
}

#navbar-side ul {
  list-style-type: none;
  text-align: right;
  padding-left: 0;
  margin: 0;
}

#navbar-side ul li {
  padding: 10px;
}

#navbar-side ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  margin-right: 1px;
  margin-left: 1px;
}

#navbar-side ul li:hover {
  text-decoration: underline;
  background-color: var(--point-color);
}
